<html lang="en">
  <body>
    <h1 style="font-family : monospace; font-size: 72px; color: red;">Welcome to
      our platform
      {{name}}!</h1>
    <p>Thank you for joining us. We're excited to have you on board!</p>
    <p>Your referral code is {{referralCode}}</p>
  </body>
</html>